%centered {
  max-width: 1000px;
  margin-left:auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@mixin small-section-illo {
  position: static;
  top: auto;
  left: auto;
  display: block;
  margin-left: 50%;
  transform: translateX(-50%);
  background-position: bottom center;
  margin-top: 25px;
  background-size: 100%;
}

body > header {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 40px;
  background-color: rgba($page-color, 0.5);
  position: relative;
  @extend %centered;
  &.with-logo {
    .tickets { flex: 1; }
  }
  .logo {
    order: 1;
    margin-top: -11px;
    width: 150px;
    img { width: 100%; }
  }
  .when {
    order: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 50px;
  }
  .when-where {
    margin-top: 5px;
    order: 2;
    text-transform: uppercase;
    margin-left: 30px;
    .when, .where {
      display: block;
      line-height: 1;
    }
    .when {
      font-size: 24px;
      letter-spacing: 2px;
    }
    .where {
      font-size: 13px;
      letter-spacing: 3px;
      margin-top: 1px;
    }
  }
  .tickets {
    order: 3;
    flex: 1;
    text-align: right;
  }
  @media only screen and (max-width: 650px) {
    flex-flow: column wrap;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    > * + * { margin-top: 10px; }
    .logo {
      order: 1;
      width: 100%;
      margin-top: 0;
      img { width: 75%; }
    }
    .where, .when-where { order: 2; }
    .when-where { margin-left: 0; margin: 25px 0; }
    .tickets {
      order: 3;
      text-align: inherit;
    }
  }
}