---
title: The unexpected future of CSSConf
date: 2016-02-18
path: /
author: Karolina Szczur
layout: news-item-layout.hbs
showActionButtonInHeader: true
---

{{#markdown}}
It's been almost a year since the [second edition of CSSConf AU](http://2015.cssconf.com.au/). From the first edition, the event grew exponentially—from a one day to a two day conference with 16 speakers, and featuring industry luminaries we all look up to. And from the very beginning, we were optimisitic of the positive impact that our work would have on the local community. That belief was reinforced multiple times by attendees, volunteers, and speakers and has kept us pushing forward. We are committed to building and sustainably growing the Australian tech community.

> I will remember @cssconfau for the rest of my life. The effort and lengths they went to were unprecedented—conf organisers, take note.
<br> — Harry Roberts, 2015 speaker

As a part of the [CSSConf family](http://cssconf.org/), CSSConf AU is a not-for-profit labour-of-love. It goes without saying that running an event at this scale requires a lot of commitment and effort from everyone involved. Our team of five work tirelessly over many months, donating their free time and often taking a break from paid work, to create not only the best experience, but to also foster a safe environment.

## The Future of CSSConf AU

In light of those challenges, you might have been wondering what the future holds for CSSConf AU, especially after our [mysterious tweet](https://twitter.com/cssconfau/status/692136694364114944) a few days ago. Well, despite the challenges and several team members being focused on their businesses, we have exciting news to share. Without further ado …

- **The third edition of CSSConf AU** will take place on **November 30**
- **JSConf AU is back** on **December 1**
- **Decompress**—our event for everyone, no matter the level of expertise—returns **December 2**
- The venue remains unchanged—our beloved, historic North Melbourne Meat Market.

For more information and updates [follow us on Twitter](https://twitter.com/cssconfau).

## Call for Sponsorships

We are well aware that conferences of this size introduce significant financial risks and hardships, like those connected to bringing a handful of international speakers and assisting with visas and immigration. Still, our aim is to provide a memorable, inclusive experience which is an opportunity to learn and connect. If your company would like to support us in doing so, [contact us for details](mailto:sponsors@cssconf.com.au) (You'll be in good company, just [take a look at last year's sponsors](http://2015.cssconf.com.au/#sponsors)).

And for those of you who can't help financially—spreading the word about all our events would mean the world to us.

## Super Early Bird Tickets

And for you, dear attendees, **limited early bird tickets are available**, including a discounted ticket bundle for our events. We’d love to see you there.

<a class="button" href="{{ticketsUrl}}">Give me a ticket right now</a>

Cheers,

The new, extended and most bad ass CSSConf/JSConf/Decompress AU family ever.
[Ben](https://twitter.com/benschwarz), [Karolina](https://twitter.com/fox), [Michael](https://twitter.com/xzyfer), [Glen](https://twitter.com/glenmaddern), [Cade](https://twitter.com/helveticade), [Jordan](https://twitter.com/jordanlewiz), [Mark](https://twitter.com/markdalgleish), [Sharkie](https://twitter.com/twalve) and [Jed](https://twitter.com/JedWatson) ❤ ❤ ❤
{{/markdown}}
