---
title: The unexpected future of CSSConf
date: 2016-02-18
path: /
author: Karolina Szczur
layout: news-item-layout.hbs
showActionButtonInHeader: true
---

{{#markdown}}
It’s been almost a year since the [second edition of CSSConf](http://2015.cssconf.com.au/). In the last two years the event grew exponentially—from a one to a two day conference with 16 speakers, featuring some industry luminaries we all look up to. From the very beginning, we knew about the positive impact that our work would have on local community—that belief was reinforced multiple times by attendees, volunteers and speakers and that kept us pushing forward. We are committed to building and sustainably growing Australian tech community.

> I will remember @cssconfau for the rest of my life. The effort and lengths they went to were unprecedented—conf organisers, take note.
<br> — Harry Roberts, 2015 speaker

As a part of the [CSS Conf family](http://cssconf.org/), CSSConfAU is a not-for-profit, labour-of-love. It goes without saying that running an event at this scale requires a lot of commitment and effort from everyone involved. Our team of five works tirelessly over a period of five months, donating their free time and often, taking a break from paid work, to create not only the best experience but to also foster a safe environment.

## The Future of CSSConf

That being said, you all might have been wondering what the future is going to bring, especially after our [mysterious tweet](https://twitter.com/cssconfau/status/692136694364114944) a few days ago. Despite the aforementioned challenges, and several team members being focused on their businesses, we have exciting news to share. Without further ado… 


- **The third edition of CSSConf AU** will take place on **November 30**
- **JSConf AU is back** on **December 1**
- **Decompress** — our event for everyone, no matter the level of expertise — **December 2**

The venue remains unchanged—our beloved, historic North Melbourne Meat Market. For more information and updates [follow us on Twitter](https://twitter.com/cssconfau). 


## Call for Sponsorships

We are well aware that the conference of this size introduces significant financial risks and hardships, some of them connected to bringing in a handful of international speakers as well as assisting with visas and immigration. We aim to provide a memorable, inclusive experience, an opportunity to learn and connect—if your company would like to support us in doing so, [contact us for details](mailto:sponsors@cssconf.com.au) ([have a peek on last years’ sponsors](http://2015.cssconf.com.au/#sponsors)).

And for those of you who can't help financially—spreading the word about all events would mean a world to us.

## Super Early Bird Tickets

And for you, dear attendees, **limited early bird tickets are available**, including a discounted ticket bundle for all events. We’d love to see you there.

<a class="button" href="{{ticketsUrl}}">Give me a ticket right now</a>

Cheers,

The new, extended and most bad ass CSSConf/JSConf/Decompress AU family ever.
[Ben](https://twitter.com/benschwarz), [Karolina](https://twitter.com/fox), [Michael](https://twitter.com/xzyfer), [Glen](https://twitter.com/glenmaddern), [Cade](https://twitter.com/helveticade), [Jordan](https://twitter.com/jordanlewiz), [Mark](https://twitter.com/markdalgleish), [Craig](https://twitter.com/twalve) and [Jed](https://twitter.com/JedWatson) ❤ ❤ ❤ 
{{/markdown}}
